<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Demo chat</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-resource/dist/vue-resource.js"></script>

</head>
<body>
<div class="container" id="chat">
    <div class="row">
        <div class="conversation-wrap col-lg-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Your name</label>
                        <input type="text" class="form-control" placeholder="Your name" v-model="fullName">
                    </div>
                </div>
            </div>
        </div>
        <div class="message-wrap col-lg-8">
            <div class="msg-wrap">
                <div class="media msg" v-for="message in messages">
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> {{ message.createdAt }}</small>
                        <h5 class="media-heading">{{ message.name }}</h5>
                        <small class="col-lg-10">{{ message.content }}</small>
                    </div>
                </div>

            </div>

            <div class="send-wrap">
                <input class="form-control send-message" rows="3" placeholder="Write a reply..."
                          v-model="inputMessage"
                          @keyup.enter="sendMessage"/>
            </div>
            <div class="btn-panel">
                <button type="button" class="col-lg-4 text-right btn send-message-btn pull-right"
                        v-bind:class="{disabled:inputMessage.length<3}"
                        role="button"
                        v-on:click.stop="sendMessage">
                    <i class="fa fa-plus"></i> Send Message
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/script.js"></script>
</body>
</html>
